.modal-photo-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 940px;
}

.modal-photo-detail-image {
  max-height: 600px;
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.modal-photo-detail-info {
  background-color: #fff;
  padding: 10px;
  width: 340px;
  height: 580px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  span {
    font-weight: bold;
  }
}

.modal-photo-detail-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-photo-detail-header-username {
  cursor: pointer;
}

.modal-photo-detail-header img {
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal-photo-detail-caption {
  display: flex;
  padding: 10px;
  line-height: 24px;
}

.modal-photo-detail-body {
  height: 70%;
}

.modal-photo-detail-body ul {
  padding: 0 10px;
}

.modal-photo-detail-body li {
  padding: 3px 0;
}

.modal-photo-detail-like-comment {
  display: flex;
  padding: 5px 0px;
}

.comment-button {
  font-size: 27px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.modal-comment-button {
  font-size: 27px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  padding-top: 7px;
}

.modal-photo-detail-like-count {
  padding-top: 10px;
  padding: 5px;
}

.modal-photo-detail-timestamp {
  padding-top: 10px;
  padding: 5px;
  font-size: 11px;
  letter-spacing: .2px;
  color: #999;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.modal-photo-detail-comments-section {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid lightgrey;
}

.modal-photo-detail-comments-box {
  background: 0 0;
  width: 100%;
  border: none;
  color: #262626;
  font-size: inherit;
  outline: none;
  padding: 5px;
  resize: none;
  max-height: 80px;
  overflow: hidden;
}

.delete-photo-btn {
  font-size: 27px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.delete-photo-btn:focus {
  outline: 0;
}

.username-and-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.photo-detail-comment-list-item {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  p {
    line-height: 22px;
  }
}

.comment-delete-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.comment-delete-btn:focus {
  outline: none;
}
