.upload-avatar-button {
  border-radius: 50%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  margin-right: 80px;
  width: 150px;
  height: 150px;
}

.upload-avatar-button:focus {
  outline: none;
}
