.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 76px;
}

.header button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.header button:focus {
  outline:0;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  width: 60%;
}

.logo {
  margin: 0;
  padding-top: 5px;
}

.nav-links a img {
  padding-top: 7px;
  max-height: 31px;
}

.nav-group a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: lighter;
  padding-bottom: 4px;
  margin: 0 14px;
}

.nav-links {
  display: flex;
  align-items: center;
}
