.modal-body {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1;
  background-color: rgba(0,0,0,.75);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-height: 600px;
  max-width: 900px;
}
