.user-data {
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 8px;
}

.user-profile a {
  text-decoration: none;
  color: #003569;
  font-weight: 600;
}

.profile-img img {
  border-radius: 50%;
  margin-right: 100px;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
}

.follow-btn {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  padding: 0 24px;
  margin-left: 20px;
  cursor: pointer;
}

.following-btn {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 36%;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  padding: 0 24px;
  margin-left: 20px;
  cursor: pointer;
}

.edit-profile-btn {
  margin-left: 20px;
  padding: 0 24px;
  background: 0 0;
  border-color: #dbdbdb;
  color: #262626;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40%;
}

.username-follow-btn {
  display: flex;
  width: 100%;
}

.user-profile-details div {
  margin-bottom: 7%;
}

.deets {
  display: flex;
}

.user-profile-username {
  font-size: 32px;
  font-weight: 200;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.user-profile-name {
  font-weight: bold;
}

.user-photos-section {
  // display: flex;
  // justify-content: center;
  display: flex;
  height: auto;
  width: 100%;
}

.user-photos-list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: left;
  // width: 75%;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  max-width: 940px;
}

.user-photo-list-item {
  margin: 1%;
  height: auto;
  width: 31%;
  justify-content: center;
  align-items: center;
}


.user-photo-list-item img {
  // width: 293px;
  // height: 293px;
  // margin: 15px;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 293px;
  max-height: 293px;
  object-fit: cover;
  cursor: pointer;
}

.user-photo-list-item img:hover {
  filter: brightness(50%);
}

.user-meta-data {
  display: flex;
}

.user-meta-data span {
  display: flex;
  margin-right: 40px;
}
