.user-profile {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 3%;
  padding-bottom: 1%;
}

.user-profile a {
  text-decoration: none;
  color: #003569;
  font-weight: 600;
}

.awesomo-img img {
  border-radius: 50%;
  margin-right: 80px;
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 180px;
}
.deets {
  display: flex;
}

.user-profile-username {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
}

.user-profile-name {
  font-weight: bold;
}
