.user-data {

}

.user-profile {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 8px;
}

.user-profile a {
  text-decoration: none;
  color: #003569;
  font-weight: 600;
}

.profile-img img {
  border-radius: 50%;
  margin-right: 100px;
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
}

.user-profile-details div {
  margin-bottom: 7%;
}

.deets {
  display: flex;
}

.user-profile-username {
  font-size: 32px;
  font-weight: lighter;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.user-profile-name {
  font-weight: bold;
}

.user-photos-section {
  display: flex;
  justify-content: center;
}

.user-photos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 1000px;
}

.user-photo-list-item img {
  width: 293px;
  height: 293px;
  margin: 15px;
}

.user-meta-data {
  display: flex;
}

.user-meta-data span {
  display: flex;
  margin-right: 40px;
}
