/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "./reset.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./login.scss";
@import "./signup.scss";
@import "./navbar.scss";
@import "./photo_feed.scss";
@import "./user_profile.scss";
@import "./modal.scss";
@import "./photo_detail.scss";
@import "./upload_modal.scss";
@import "./like_button.scss";
@import "./comments_form.scss";
@import "./upload_avatar.scss";
@import "./edit_user.scss";
@import "./footer.scss";
@import "./search.scss";
@import "./discover.scss";
