.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 76px;
}

.header button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.header button:focus {
  outline:0;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  width: 60%;
}

.logo {
  margin: 0;
  padding-top: 5px;
  margin-right: 15px;
}

.nav-links a img {
  padding-top: 7px;
  max-height: 31px;
}

.nav-group a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: lighter;
  padding-bottom: 4px;
  margin: 0 14px;
}

.menu-links {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-icon {
  display: none;
}

.dropdown {
  position: absolute;
  top: 64px;
  background-color: white;
  justify-content: center;
  flex-direction: column;

  a {
    font-size: 16px;
    text-align: center;
    padding: 16px;
    font-weight: bold;
  }

  button {
    font-size: 16px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
  }

  a:hover {
    background-color: #fafafa;
  }

  button:hover {
    background-color: #fafafa;
  }
}


@media screen and (max-width: 1200px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .nav-group {
    width: 90%;

    a {
      margin: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav-group {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    margin: 0;
    padding-top: 5px;
    margin-right: 15px;
  }
}
