.photo-feed {
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  a {
    text-decoration: none;
    color: #262626;
    font-weight: 600;
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 60px;
  border: 1px solid lightgrey;
}

.photo-card-image img {
  max-width: 600px;
  max-height: 600px;
  // object-fit: cover;
}

.photo-card-header {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 27px;

  a {
    font-size: 16px;
    line-height: 18px;
  }
}

.photo-card-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.photo-card-info {
  padding: 0 16px;
}

.photo-card-like-comment-btn {
  display: flex;
}

.comment-button {
  padding: 0 6px;
  padding-bottom: 2px;
}

.unliked-button:focus {
  outline: none;
}

.comment-button:focus {
  outline: none;
}

.photo-card-num-likes {
  margin-bottom: 8px;
  padding-left: 8px;
}

.photo-card-comments {
  margin-bottom: 4px;
  line-height: 23px;
  padding-left: 8px;
}

.time-ago {
  font-size: 10px;
  letter-spacing: .2px;
  color: #999;
  text-transform: uppercase;
  line-height: 27px;
  margin-bottom: 8px;
  padding-left: 8px;
}

.time-ago div {
  line-height: 18px;
  margin-bottom: 4px;
}

.photo-feed-comment {
  padding: 16px 0;
  border-top: 1px solid lightgrey;
  margin-top: 9px;
}

.comments-box {
  background: 0 0;
  border: none;
  color: #262626;
  font-size: inherit;
  outline: none;
  padding: 5px;
  resize: none;
  max-height: 80px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  line-height: 18px;
  height: 18px;
  width: 100%;
  overflow: hidden;
}

.photo-feed-comment-list-item {
  display: flex;
  justify-content: space-between;
}

.photo-feed-comment-list-item button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.photo-feed-comment-list-item button:focus {
  outline: none;
}
