@keyframes rainbow {
  from { background-position: 0px; }
  to { background-position: -900px; }
}

.rainbow-progress-bar {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 100% 100%;

  animation: rainbow 0.5s ease infinite;
}
