.user-data {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  font-family: sans-serif;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 8px;
  width: 81.59%;
  justify-content: center;
}

.user-profile-contain {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

.user-profile a {
  text-decoration: none;
  color: #003569;
  font-weight: 600;
}

.profile-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8%;
}

.follow-btn {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  padding: 0 24px;
  margin-left: 20px;
  cursor: pointer;
}

.following-btn {
  margin-left: 20px;
  padding: 0 24px;
  background: 0 0;
  border-color: #dbdbdb;
  color: #262626;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40%;
}

.edit-profile-btn {
  margin-left: 20px;
  padding: 0 24px;
  background: 0 0;
  border-color: #dbdbdb;
  color: #262626;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.username-follow-btn {
  display: flex;
  width: 100%;
}

.user-profile-details div {
  margin-bottom: 7%;
}

.deets {
  display: flex;
}

.user-profile-username {
  font-size: 32px;
  font-weight: 200;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.user-profile-name {
  font-weight: bold;
}

.user-photos-section {
  display: flex;
  height: auto;
  width: 100%;
}

.user-photos-list {
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  max-width: 940px;
}

.user-photo-list-item {
  margin: 1%;
  height: 293px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-photo-list-item img {
  width: 100%;
  height: 100%;
  min-width: 293px;
  min-height: 293px;
  max-width: 293px;
  max-height: 293px;
  object-fit: cover;
  cursor: pointer;
}

.user-photo-list-item img:hover {
  filter: brightness(50%);
}

.user-meta-data {
  display: flex;
}

.user-meta-data span {
  display: flex;
  margin-right: 40px;
}

.upload-avatar-button {
  border-radius: 50%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.upload-avatar-button:focus {
  outline: none;
}

@media screen and (max-width: 1039px) {
  .user-photos-list {
    width: 650px;
  }
}

@media screen and (max-width: 680px) {
  .user-photos-list {
    justify-content: center;
  }

  .user-photo-list-item {
    margin: 1%;
    height: 586px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-photo-list-item img {
    width: 100%;
    height: 100%;
    max-width: 586px;
    max-height: 586px;
    object-fit: cover;
    cursor: pointer;
  }
}
