.upload-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: sans-serif;
  width: 700px;
  height: 400px;
  border-radius: 8px;

  input {
    font-size: 14px;
    border: 0;
    border: none;
  }

  input:focus {
    outline: none;
  }

  label {
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
  }

  p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  button {
    padding: 14px 8px;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    -webkit-appearance: none;
    border-style: solid black;
    border-width: 3px;
    font-size: 28px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
  }
}

.file-name {
  width: 60%;
  margin: auto;
  padding-left: 15px;
}

.upload-modal-content {
  padding-top: 3%;
  width: 700px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upload-caption {
  align-content: center;
  padding: 15px;
  width: auto;
  background: 0 0;
  border: none;
  color: #262626;
  font-size: inherit;
  outline: none;
  resize: none;
  max-height: 80px;
  overflow: hidden;
  height: 18px;
  width: 100%;
}

.img-preview {
  width: 355px;
  height: 200px;
  background-color: lightgrey;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.drag-drop-zone {
  width: 355px;
}

.cancel-submit {
  display: flex;
  width: 100%;
}
