.photo-feed {
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 60px;
}

.photo-card-image img {
  width: 600px;
  height: 600px;
}

.photo-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  height: 27px;
}

.photo-card-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
